nav, nav ul {
    display: flex;
    gap: 2rem;
    width: 600px;
}
.second-menu {
    z-index: 999;
}
.second-menu, .third-menu-container {
    display: none;
    background-color: lightgray;
}
.second-menu {
    width: 200px;
}
ul {
    list-style: none;
}
.fourth-menu {
    display: flex;
    flex-direction: column;
}
/* Display menu to the right */
.second-menu {
    position: relative;
}
.third-menu-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 80vw;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
}
/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}